<!-- Start Topbar -->
<!--<div class="topbar topbar-expand-lg topbar-dark bg-danger" style="background-color: #B71D1D;"></div>-->
<div class="topbar topbar-expand-lg" style="background-color: #b71d1d">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-4 col-12">
        <div class="top-end">
          <div class="user">
            <i class="lni lni-user"></i>
            Bem vindo
          </div>
          <ul class="user-login">
            <li>
              <a href="login.html">Entrar</a>
            </li>
            <li>
              <a href="register.html">Registrar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Topbar -->
<!-- Start Header Middle -->

<div class="header-middle">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3 col-7">
        <!-- Start Header Logo -->
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/logo/logolotema.jpg" alt="Logo" />
        </a>
        <!-- End Header Logo -->
      </div>
      <div class="col-lg-5 col-md-7 d-xs-none">
        <!-- Start Main Menu Search -->
        <div class="main-menu-search">
          <!-- navbar search start -->
          <div class="navbar-search search-style-5">
            <div class="search-select">
              <div class="select-position">
                <select id="select1">
                  <option selected>Todos</option>
                  <option value="1">option 01</option>
                  <option value="2">option 02</option>
                  <option value="3">option 03</option>
                  <option value="4">option 04</option>
                  <option value="5">option 05</option>
                </select>
              </div>
            </div>
            <div class="search-input">
              <input type="text" placeholder="Pesquisar" />
            </div>
            <div class="search-btn">
              <button><i class="lni lni-search-alt"></i></button>
            </div>
          </div>
          <!-- navbar search Ends -->
        </div>
        <!-- End Main Menu Search -->
      </div>
      <div class="col-lg-4 col-md-2 col-5">
        <div class="middle-right-area">
          <div class="nav-hotline">
            <i class="lni lni-phone"></i>
            <h3>
              Telefone:
              <span>(98) 999888777</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Middle -->
<!-- Start Header Bottom -->

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-10 col-md-6 col-12">
      <!-- <div class="nav-inner"> -->
      <!-- Start Mega Category Menu -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Atribuições e competências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile"
            aria-selected="false">Atos normativos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
            aria-selected="false">Dúvidas frequentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
            aria-selected="false">Transparência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="jogar-tab" data-toggle="tab" href="#jogar" role="tab" aria-controls="jogar"
            aria-selected="false">Jogar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="responsavel-tab" data-toggle="tab" href="#responsavel" role="tab"
            aria-controls="responsavel" aria-selected="false">Jogo responsável</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="auto-tab" data-toggle="tab" href="#auto" role="tab"
            aria-controls="auto" aria-selected="false">Auto Avaliação</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          ...
        </div>
        <div class="tab-pane" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
          ...
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          ...
        </div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <app-welcome></app-welcome>
        </div>
        <div class="tab-pane" id="jogar" role="tabpanel" aria-labelledby="jogar-tab">
          ...
        </div>
        <div class="tab-pane" id="responsavel" role="tabpanel" aria-labelledby="responsavel-tab">
          <br />
          <div style="text-align: center">
            <h3>Jogo Responsável</h3>
          </div>
          <br />
          <br />
          <h4>Conceito</h4>
          <br />
          <p>
            O jogo responsável é a prática de jogos como forma de entretenimento
            e diversão, onde o jogador, plenamente consciente das regras a que
            está submetido no momento da escolha do jogo, decide livremente
            despender seu tempo e dinheiro de forma a não pôr em risco as
            relações familiares, sociais e profissionais.
          </p>
          <br />
          <h4>Objetivos</h4>
          <br />
          <li>
            Estabelecer uma relação de confiança entre a LOTEMA e o jogador;
          </li>
          <li>
            Orientar sobre os riscos e danos que o jogo excessivo pode causar à
            saúde do jogador;
          </li>
          <li>Informar sobre os produtos e serviços oferecidos;</li>
          <li>Evitar que menores de 18 anos tenham acesso aos jogos;</li>
          <br />
          <h4>Hábitos do Jogador Responsável</h4>
          <br />
          <li>
            Jogar por diversão. Fazer do jogo uma forma de entretenimento e uma
            experiência agradável todas particularidades do jogo que vai jogar;
          </li>
          <li>Apostar moderadamente;</li>
          <li>Saber as reais probabilidades de ganhar ou perder;</li>
          <li>
            Estabelecer um tempo para jogo e joga somente o tempo planejado;
          </li>
          <li>Ter definido o valor que vai gastar;</li>
          <li>
            Fazer apostas de baixo risco e não utilizar o dinheiro destinado a
            necessidades básicas, como alimentação, e outras despesas
            essenciais;
          </li>
          <li>
            Não fazer do jogo um meio para ganhar dinheiro ou sanar dívidas;
          </li>
          <li>
            Não jogar para recuperar perdas e não tomar dinheiro emprestado para
            jogar;
          </li>
          <li>
            Não jogar sob o efeito de substâncias que impeçam ou de alguma forma
            prejudiquem a livre autodeterminação, enfraqueçam a vontade e a
            responsabilização pelos atos do jogador;
          </li>
          <li>
            Não permitir que o jogo cause prejuízos em sua vida pessoal:
            relacionamento com a família, amigos, profissional, social.
          </li>
          <li>
            Não adotar comportamentos tendentes ao endividamento pessoal e ao
            jogo compulsivo;
          </li>
          <li>
            Ter responsabilidade em relação aos jogos, sabe se quer e como jogar
            e quanto gastar;
          </li>
          <li>Não utilizar a atividade para fugir ou amenizar os problemas;</li>
          <br />
          <h4>Jogo Patológico/Jogo Compulsivo</h4>
          <br />
          <p>
            O jogo patológico também conhecido como jogo compulsivo ou ludopatia
            é reconhecido como problema de saúde pela Organização Mundial de
            Saúde (OMS). É uma doença comportamental e caracteriza-se por um
            impulso incontrolável para o jogo. O jogador perde o controle sobre
            o impulso para jogar, não consegue tomar decisões de quando começar
            ou terminar, o jogo passa a ser prioritário na sua vida afetando de
            forma negativa todas as áreas de sua vida
          </p>
          <br />
          <h4>Características do jogador patológico</h4>
          <br />
          <li>
            Fazer do jogo sua atividade principal, deixando de lado o trabalho,
            a família e amigos;
          </li>
          <li>
            Jogar para recuperar perdas, perder o controle sobre suas ações e
            emoções;
          </li>
          <li>
            Pedir dinheiro emprestado para jogar, vender seus próprios bens ou
            os bens da família para alimentar o vício;
          </li>
          <li>Perder o controle sobre as apostas;</li>
          <li>Não estabelecer limite de tempo e valor para o jogo;</li>
          <li>
            Perder o equilíbrio entre o jogo e outras atividades de lazer;
          </li>
          <li>
            Utilizar para o jogo, o dinheiro destinado às despesas mensais ou
            alimentação;
          </li>
          <li>Ficar inquieto e irritado quando diminui ou para de jogar;</li>
          <li>Cometer atos ilegais para custear o jogo;</li>
          <br />

        </div>
        <div class="tab-pane" id="auto" role="tabpanel" aria-labelledby="auto-tab">
          <app-form-area></app-form-area>
        </div>

      </div>
    </div>
  </div>
  <!-- End Header Bottom -->

</div>
