<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img src="assets/images/logo/logolotema.jpg" width="200" alt="logo">
      </div>
    </div>

    <div class="container d-flex justify-content-around py-3" style="font-family: cursive; text-align:center">
      <ol>
        <h3>Instrução</h3>
        <br>
        <p>
          Este é o Quiz, um nome de um jogo de questionários para o auto teste.
          O auto teste é um mecanismo de ajuda que permite ao jogador se auto avaliar. Existem alguns questionários,
          também denominados de auto teste, que possibilitam identificar se uma pessoa tem comportamento de um jogador
          patológico.
          Neste Quiz, você responderá o questionário desenvolvido pelo Jogadores Anônimos do Brasil.
        </p>
        <br>
        <h3>Sistema de Pontuação</h3>
        <br>
        <li>- Resposta afirmativa vale 10 points</li>
        <li>- Resposta negativa não pontua</li>
        <li>- Você terá 40 segundos para responder cada pergunta</li>
        <li>- Caso sua pontuação seja maior ou igual a 70 pontos, você tem tendências a ser um jogador patológico</li>
        <br>
        <h3>Comandos</h3>
        <br>
        - Para responder basta clicar na opção Sim ou Não que você será redirecionando para a próxima pergunta
        <br>
        <li><i class="fa fa-chevron-left text-primary fa-2x" aria-hidden="true"> Seta esquerda</i> - Serve para
          retroceder uma questão</li>
        <br>
        <li><i class="fa fa-chevron-right text-primary fa-2x" aria-hidden="true"> Seta direita</i> - Serve para pular uma
          questão</li>
        <br>
        <li><i class="fa fa-refresh text-primary fa-2x" aria-hidden="true"> Atualizar</i> - Serve para redefinir a pontuação e as perguntas</li>
      </ol>
    </div>
    <br>
    <div class="text-center">
      <button type="button" (click)="voltarQuiz()" class="btn btn-danger btn-lg">Voltar</button>
    </div>
    <br>
  </div>
</div>
