<!-- Start Footer Top -->
<!-- <div class="footer-top">
  <div class="container">
    <div class="inner-content">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
          <div class="footer-logo">
            <a href="index.html">
              <img src="assets/images/logo/white-logo.jpg" alt="#">
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
          <div class="footer-newsletter">
            <h4 class="title">
              Assine o nosso Boletim informativo
              <span>Obtenha todas as informações, apostas e ofertas mais recentes.</span>
            </h4>
            <div class="newsletter-form-head">
              <form action="#" method="get" target="_blank" class="newsletter-form">
                <input name="EMAIL" placeholder="Email address here..." type="email">
                <div class="button">
                  <button class="btn">Se inscrever<span class="dir-part"></span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Footer Top -->
<!-- Start Footer Middle -->
<div class="footer-middle">
  <div class="container">
    <div class="bottom-inner">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer f-link">
            <h3>Jogos</h3>
            <ul>
              <!-- <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li> -->
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer f-link">
            <h3>Ajuda</h3>
            <ul>
              <li><a href="javascript:void(0)">Como e onde comprar os jogos da Lotema?</a></li>
              <li><a href="javascript:void(0)">Como saber quem foi o ganhador?</a></li>
              <li><a href="javascript:void(0)">Qual o destino do dinheiro arrecadado com os jogos?</a></li>
              <li><a href="javascript:void(0)">Links úteis</a></li>
              <li><a href="javascript:void(0)">Contatos</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer f-link">
            <h3>Informação</h3>
            <ul>
              <li><a href="javascript:void(0)">Notícias</a></li>
              <li><a href="javascript:void(0)">Institucional</a></li>
              <li><a href="javascript:void(0)">Comunicados</a></li>
              <li><a href="javascript:void(0)">Pontos de Venda</a></li>
              <li><a href="javascript:void(0)">Localização</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <!-- <div class="single-footer f-link">
            <h3>Modalidades de Loteria</h3>
            <ul>
              <li><a href="javascript:void(0)">Loterias de prognósticos numéricos </a></li>
              <li><a href="javascript:void(0)">Loterias de prognósticos esportivos</a></li>
              <li><a href="javascript:void(0)">Passiva</a></li>
              <li><a href="javascript:void(0)">Loteria instantânea</a></li>
            </ul>
          </div> -->
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Middle -->
<!-- Start Footer Bottom -->
<div class="footer-bottom">
  <div class="container">
    <div class="inner-content">
      <div class="row align-items-center">
        <!-- <div class="col-lg-4 col-12">
          <div class="payment-gateway">
            <span>We Accept:</span>
            <img src="assets/images/footer/credit-cards-footer.png" alt="#">
          </div>
        </div> -->
        <div class="col-lg-4 col-12">
          <div class="copyright">
            <p>Projetado e Desenvolvido por Maranhão Parcerias<br><a href="https://mapa.ma.gov.br/" rel="nofollow"
                target="_blank">MAPA</a></p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <ul class="socila">
            <li>
              <span>Siga nossas redes sociais:</span>
            </li>
            <li><a href="https://www.facebook.com/maranhaoparcerias/"><i class="lni lni-facebook-filled"></i></a></li>
            <li><a href="https://twitter.com/mapa_oficial"><i class="lni lni-twitter-original"></i></a></li>
            <li><a href="https://www.instagram.com/mapa.oficial/"><i class="lni lni-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Bottom -->
