
 <div class="container">
  <div class="row align-items-center">
    <div class="col-lg-9 col-md-6 col-12">
      <br>
      <div style="text-align: center">
        <h3>Auto Avaliação</h3>
      </div>
  <br>
  <br>
  <form class=" bg-white px-4" action="">
    <p class="fw-bold">1.	Você já perdeu horas de trabalho ou da escola devido ao jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">2.	Alguma vez o jogo já causou infelicidade na sua vida familiar?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">3.	O jogo já afetou sua reputação?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">4.	Você já sentiu remorso após jogar?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">5.	Alguma vez você já jogou para obter dinheiro para pagar dívidas ou então resolver dificuldades financeiras?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">6.	Após ter perdido você se sentiu como se necessitasse voltar o mais cedo possível e recuperar as suas perdas?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">7.	Após um ganho você sentiu uma forte vontade de voltar a ganhar mais?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">8.	Você geralmente jogava até que seu último centavo acabasse?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">9.	Você já pediu dinheiro emprestado para financiar o jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">10.	Alguma vez você já vendeu alguma coisa para financiar o jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">11.	Você relutava em usar o dinheiro de jogo para as despesas normais?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">12.	O jogo o tomou descuidado com o seu bem-estar e o de sua família?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">13.	Alguma vez você já jogou por mais tempo do que planejava?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">14.	Alguma vez você já jogou para fugir das preocupações ou problemas?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">15.	Alguma vez você já cometeu, ou pensou em cometer um ato ilegal para financiar o jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">16.	O jogo fez com que você tivesse dificuldades para dormir?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">17.	As discussões, desapontamentos ou frustações fizeram com que você tivesse vontade de jogar?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">18.	Alguma vez você já teve vontade de celebrar alguma boa sorte com algumas horas de jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>

  <form class=" bg-white px-4" action="">
    <p class="fw-bold">19.	Alguma vez você já pensou em se autodestruir como resultado de seu jogo?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">Sim</label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">Não</label>
    </div>
  </form>
<br>
<br>
  <div class="text-center">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
  <br>
  <br>
</div>
</div>
</div>
